.border {
    background-color: gray;
    margin: 80px auto;
    width: fit-content;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 12px;
}

.container>div {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;

    height: 100px;
    width: 100px;

    /* Disable text highlighting in squares */
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
}

.winner {
    margin: 24px auto;
    width: fit-content;
    font-size: 2rem;
}